/* -----NEW STYLES----- */

/* add new styles here */







/* pre written css (FEEL FREE TO EDIT ANY CSS) */


/* -------SLIDER----------- */


.slider{
    overflow: hidden;
    position: relative;
}

.slider .slide{
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    height: auto;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.slider .slide.active{
    opacity: 1;
    visibility: visible;
    position: relative;
}


.slider .slide img{
    max-width: 80%;
    height:auto;
    object-fit: cover;
    display: inline-block;
}

.buttons{
    text-align: center;
}



/* ------Modal-------- */

.modal{
    position: fixed;
    top: 0;
    height: 100%;
    width:100%;
    left:0;
    visibility: hidden;
    z-index: -999;
}

.modal .modal-overlay{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: #000;
    opacity: 0.4;
}

.modal .modal-content {
    width: 75%;
    position: absolute;
    top:50%;
    left:0;
    right: 0;
    margin:auto;
    transform: translateY(-50%);
}

.modal .modal-content img{
    object-fit: cover;
    width: 100%;
    height: 400px;
}






/* -----END OF NEW STYLES ----- */

body{
    font-family: 'PT Sans', sans-serif;
}

main{
    padding-top: 60px;
    padding-bottom: 60px;
}

.container{
    width:90%;
    margin: 0 auto;
}

body img{
    max-width: 100%;
}

/* --------NAVIGATION----------- */

nav{
    padding: 30px 0px;
    position: relative;
}

nav .container{
    display: flex;
    align-items: center;
}

nav .logo{
    max-width: 80%;
}

nav .sub-list-item{
    height: 0px;
    overflow: hidden;
}

nav .nav-menu{
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width:100%;
    background-color: #f8f8f8;
    text-align: center;
    transform: translateX(100%);
    transition: transform .4s ease;
    display: flex;
    align-items: center;
    z-index: 9;
    flex-direction: column;
    justify-content: center;
}

nav .nav-menu li a{
    color:#000;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-style: 1.3em;
    padding: 12px 8px;
    display: inline-block;
}

nav .hamburger{
    outline:none;
    margin-left: auto;
    position: relative;
    z-index: 10;
}
nav .hamburger:foucs,nav .hamburger:hover{
    opacity: 1;
}

nav .hamburger:focus{
    outline:none;
}

nav .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after{
    border-radius: 0px;
}



/* ----------------HEADER-------------------- */

header{
    background-size: cover;
    background-position: center center;
    height:80vh;
    min-height: 350px;
    width:100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header .content{
    padding:30px;
}

header .content h1{
    color:rgb(233, 194, 109);
    font-size: 3em;
    line-height: 1.2em;
    font-weight: 900;
    font-family: 'PT Serif', serif;
}

.header-call{
    color:rgb(233, 194, 109); 
    position: relative;
    margin-top: 30px;   
    display: inline-block;
    text-decoration: none;  
    letter-spacing: 1px;
    font-size: 1.2em;
}

.header-call:before{
    content:'';
    position: absolute;
    width: 0;
    height:2px; 
    background-color:rgb(233, 194, 109); 
    bottom:-10px;
    left:0;
    transition: width .4s ease;
}
.header-call:hover:before{
    width: 100%;
}



/* MEDIA QUERIES */

@media screen and (min-width:768px){
    .container{
        width: 75%;
    }
    nav{
        padding:40px 0px;
    }
    nav .nav-menu{
        position: relative;
        height:auto;
        width: auto;
        background-color: transparent;
        margin-left: auto;
        transform: translateX(0%);
        flex-direction: row;
    }
    nav .nav-menu li{
        display: inline-block;
    }

    nav .nav-menu li a{
        color:#000;
        text-decoration: none;
        padding:0 10px;
    }
    nav .hamburger{
        display: none;
    }
    header{
        width:85%;
    }
    header .content{
        padding:0px;
    }

    header .content h1{
        font-size: 4.5em;
        letter-spacing: 1px;
        transform: translate3d(-30px,-20px,0px);   
        line-height: 1.2em;
    }

}

@media screen and (min-width:992px){
    header .content h1{
        font-size: 6em;
        letter-spacing: 1.2px; 
        line-height: 1.2em;
    }
    header{
        height: 82vh;
    }
}

/* ADD Styles */